[package]
name = "synth-abi"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
synth-wit = { path = "../synth-wit" }
